* {
    margin: 0;
    padding: 0;
}

/* div {
    background-color: aqua;
    padding: 30px;
    position: relative;
} */

p { 
    background-color: aqua;
    padding-top: 30px;
    /* position: absolute;
        bottom: 0;
        margin: 0;
        left: 0; */
}

